.inputGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 480px;
}

input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.addButton {
    padding: 0.5rem 1rem;
    background-color: #747bff;
    color: #ccc;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.addButton:hover {
    background-color: #5f6be1;
}