.todos {
    padding: 0;
}

.todo {
    display: flex;
    align-items: center;
}

.checkedTodo {
    text-decoration: line-through;
    opacity: 0.6;
    margin-left: 1.5rem;
}

.todoText {
    margin-left: 1.5rem;
}

.checkIcon:hover {
    color: #5f6be1;
    cursor: pointer;

}

.deleteButton {
    background-color: inherit;
    border: 0.5px solid transparent;
    cursor: pointer;
    margin-left: 1.5rem;
}

.deleteIcon {
    font-family: inherit;
    font-size: 1rem;
}

.deleteIcon:hover {
    color: #5f6be1;
}