.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.catchPhrase {
    font-size: 1.5rem;
}

.startButton {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #747bff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
}

.startButton:hover {
    background-color: #5f6be1;
    border-color: #5f6be1;
}