.container {
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin: 0 auto;
    /* padding: 20px 40px; */
    /* border: 2px solid #747bff; */
    /* border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */

}


header {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;

}

.list {
    padding: 0;
    grid-row: 1;
    max-width: auto;
    /* margin-right: 1rem; */


}

.item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 1rem; */
}

.checkbox {
    display: inline-flex;
    /* align-items: center; */
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 10px;

}


.deleteButton {
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 300;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    margin-right: 10px;


}

.deleteIcon {
    font-size: 0.75rem;
    color: #ccc;
}

.deleteButton:hover {
    background-color: #5f6be1;
}



.deleteButton:hover {
    background-color: #5f6be1;
}




.checkbox {
    /* appearance: none; */

    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.25s;
}

.checkbox:checked {
    border-color: #747bff;
    background-color: #747bff;
}


.checkbox input:checked+.checkbox::before {
    visibility: visible;
}