.container {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.todos {
    padding: 0;
}

.todo {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 10px;
}

.checkedItem {
    text-decoration: line-through;
    opacity: 0.6;
    margin-left: 10px;
}

.checkIcon {
    cursor: pointer;
    color: #ccc;
}

.checkIcon:hover {
    color: #5f6be1;
}


.checkedIcon {
    color: #5f6be1;
}


.deleteButton {
    background-color: inherit;
    border: 0.5px solid transparent;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.deleteIcon {
    font-family: inherit;
    font-size: 1rem;
    color: #ccc;
}

.deleteIcon:hover {
    color: #5f6be1;
}